* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

#cadeado {
    position: absolute;
    left: 71%;
    top: 40px;
    font-size: 20px;

}

#icone-campos {
    top: 20px;
    font-size: 25px;
    position: relative;
    left: 10px;
}



i {
    color: orange;
    font-size: 20px;
}

h1 {
    display: inline-block;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    color: black;
}

h4 {
    color: rgb(49, 48, 48);
    position: absolute;
    bottom: 10px;
    left: 8px;
    font-family: 'Lucida Sans','Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.sub-title {
    float: right;
    color: black;
    padding: 5px;
    font-size: 15px;
}

.cabecalho {
    height: 70px;
    margin: 30px;
}

.campo1 , .campo2, .campo3, .campo4 {
    position: relative;
    top: 150px;
    justify-items: center;
    padding: 15px;
    height: 90px;
    width: 30%;
   /* background-color: #5c9888; */
  /* background-color: rgb(252, 176, 36); */
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.campo2 {
    position: relative;
    float: right;
    top: -29px;
}

.campo4 {
    position: relative;
    float: right;
    top: -59px;
}

.btn-entra {
    position: absolute;
    bottom: 40px;
    padding-left: 50px;
}

.botaoEntrar {
    position: absolute;
    bottom: 40px;
    padding: 9px 30px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    left: 250px;
}